<div class="table-responsive">
  <table class="table table-borderless table-hover" id="user-table">
    <thead class="bg-light-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Email</th>
        <th scope="col">Mobile Number</th>
        <th scope="col"> Status</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody id="tbody">
    </tbody>
</table>
</div>