<div class="sidebar">
    <div class="sidebar-header">
        <div class="brand-logo">
          <img src="/img/plant.gif" class="brand-logo-img" alt="brand-logo-for-sidebar">
        </div>
        <div class="brand-text">
          RK
        </div>
    </div>
    <div class="sidebar-menu">
        <ul>
            <li>
               <a href="/dashboard">
                <i class="fa fa-home"></i>
                <span> Dashboard</span>
               </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-user"></i>
                    <span> Users</span>
                   </a>
            </li>
            <li>
                <a href="/products">
                    <i class="fas fa-store"></i>
                    <span> Products</span>
                   </a>
            </li>
        </ul>
    </div>
  </div>