<nav class="navbar navbar-dark bg-gradient" id="topNav">
   <div class="navbar-wrapper">
    <div class="toggler" id="sidebar-toggler"> <i class="text-white fa fa-bars"></i></div>
    <div class="btn-group">
        <button type="button" style="background-color: transparent; color: inherit; border: 0; outline: none;" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= locals.user.first_name +' '+locals.user.last_name %>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/users/profile">Profile</a>
          <a class="dropdown-item" href="/users/change-password">change password</a>
          <form class="dropdown-item" action="/auth/logout" method="POST"> <button style="background: none; border: none; padding:0" type="submit"> Logout</button></form>
        </div>
      </div>
   </div>
  </nav>