<!doctype html>
<html lang="en">
  <head>
    <%- include("./includes/head") -%>
  </head>
  <body>
    <div class="container">
        <div class="add-button d-flex justify-content-end my-2">
        <button type="button" class="btn btn-info mr-2" id="Refresh"> refresh</button>
            <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-product-modal">
            Add new product
        </button>
        </div>
        <table class="table table-bordered" id="product-table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Product name</th>
                <th scope="col">Product unit price</th>
                <th scope="col">Total product</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody id="tbody">
              
            </tbody>
          </table>
        
        <!-- Modal -->
        <div class="modal fade" id="add-product-modal" tabindex="-1" role="dialog" aria-labelledby="add-product" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-success" id="add-product-modal-title">Add New Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id='add-product-form'>
                <div class="form-group">
                    <label for="productName">Product name</label>
                    <input name="product_name" type="text" class="form-control" id="productName" placeholder="enter product name">
                    <div class="invalid-feedback">
                    </div>
                </div>
                <div class="form-group">
                    <label for="productUnitPrice">Product unit price</label>
                    <input name="unit_price" type="number"  step="2" class="form-control" id="productUnitPrice" placeholder="enter product unit price">
                    <div class="invalid-feedback">
                    </div>
                </div>
                <div class="form-group">
                    <label for="totalProduct">Total product</label>
                    <input name="total_product" type="number" step="0" class="form-control" id="totalProduct" placeholder="enter total product ">
                    <div class="invalid-feedback">
                       
                    </div>
                </div>
                
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="product-save-btn">Save changes</button>
            </div>
            </div>
        </div>
        </div>

        <!-- update modal -->
        <div class="modal fade" id="update-product-modal" tabindex="-2" role="dialog" aria-labelledby="update-product" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-success" id="update-product-modal-title">Update product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id='update-product-form'>
                    <div class="form-group">
                        <label for="productName-update">Product name</label>
                        <input name="product_name" type="text" class="form-control" id="productName-update" placeholder="enter product name">
                        <div class="invalid-feedback">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="productUnitPrice-update">Product unit price</label>
                        <input name="unit_price" type="number"  step="2" class="form-control" id="productUnitPrice-update" placeholder="enter product unit price">
                        <div class="invalid-feedback">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="totalProduct-update">Total product</label>
                        <input name="total_product" type="number" step="0" class="form-control" id="totalProduct-update" placeholder="enter total product ">
                        <div class="invalid-feedback">
                           
                        </div>
                    </div>
                    
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="product-update-btn">Save changes</button>
                </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('./includes/footer') -%>
    <%- include('./includes/footerJs') -%>
  </body>
</html>