<table class="table table-borderless table-hover" id="product-table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product name</th>
        <th scope="col">Product unit price</th>
        <th scope="col">Total product</th>
        <th scope="col"> Status</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody id="tbody">
    </tbody>
</table>