<!-- add modal Modal -->
<div class="modal fade" id="registration-modal" tabindex="-1" role="dialog" aria-labelledby="add-product" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title text-success" id="registration-modal-title">Register your account</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="p-4 rounded mb-2" style="background-image: linear-gradient(to left top, #051937, #004d7a, #008793, #00bf72, #a8eb12);">
                <em class="text-light">
                    After successfully submit this form you will get a email for complete the registration process.
                    if you don't complete the registration without visiting the mailed link, your registration will remain incomplete.
                </em>
            </div>
            <form id='registration-form'>
            <div class="form-group">
                <label for="first_name">First name</label>
                <input name="first_name" type="text" class="form-control" id="first_name" placeholder="enter first name">
                <div class="invalid-feedback">
                </div>
            </div>
            <div class="form-group">
                <label for="last_name">Last name</label>
                <input name="last_name" type="text" class="form-control" id="last_name" placeholder="enter last name">
                <div class="invalid-feedback">
                </div>
            </div>
            <div class="form-group">
                <label for="mobile_number">Moblie number</label>
                <input name="mobile_number" type="text" class="form-control" id="mobile_number" placeholder="enter mobile number">
                <div class="invalid-feedback">
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input name="email" type="text" class="form-control" id="email" placeholder="enter email">
                <div class="invalid-feedback">
                </div>
            </div>
            <!-- <div class="form-group">
                <label for="password">Password</label>
                <input name="password" type="text" class="form-control" id="password" placeholder="enter password">
                <div class="invalid-feedback">
                </div>
            </div> -->
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="registration-btn">Save changes</button>
        </div>
        </div>
    </div>
    </div>